
@use "../../styles/mixins" as m;

.container {
    width: 100%;
    min-height: 90vh;
    @include m.flex-column-align-center;
    padding-block: 29px;
    gap: 16px;
}

@media (min-width: 1024px){
    .container {
        max-width: 1200px;
        padding-block: 40px;
        gap: 24px;
    }
}