@use "../../styles/colors" as c;
@use "../../styles/mixins" as m;


.sobre {
    width: 100%;
    min-height: 90vh;
    @include m.flex-center-column;
     padding-block: 70px;

    .content {
        display: flex;
        align-items: center;
        gap: 24px;

        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }

        .textos {
            @include m.flex-column-align-center;
            @include m.text-align(center);
            gap: 16px;

            h1 {
                font-size: 32px;
                line-height: 1.2;
                background-color: c.$color-secondary;
                color: c.$color-white;
                padding: 8px 16px;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
                padding: 0 15px;
            }
        }
    }
}

@media (max-width: 768px){
    .sobre {
        .content{
            flex-direction: column;
            padding-inline: 28px;
            gap: 16px;

            img {
                max-width: 50%;
            }
        }
    }
}

@media (max-width: 480px) {
  .sobre {
    h1 {
      font-size: 20px;
      line-height: 1.3;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

