@use "../../styles/colors" as c;
@use "../../styles/mixins" as m;

.footer {
    width: 100%;
    min-height: 50px;
    background-color: c.$color-primary;
    color: c.$color-gray;
    font-size: 22px;
    font-weight: bold;
    @include m.flex-center;
    position: fixed;
    bottom: 0;

}


