
@use "../../styles/colors" as c;
@use "../../styles/mixins"as m;

.container404 {
    @include m.flex-center-column;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.titulo2 {
    padding-bottom: 20px;
    font-size: 32px;
}

.textos {
   @include  m.flex-center-column;

    .texto_grande {
        font-size: 120px;
        color: c.$color-red;
        font-weight: bold;
    }

    .texto_red {
        font-size: 18px;
        color: c.$color-red;
        font-weight: bold;
        margin-top: 10px;
    }
}


@media (min-width: 768px) {
    .titulo2 {
        font-size: 20px;
    }

    .textos {
        .texto_grande {
            font-size: 300px;
        }

        .texto_red {
            font-size: 24px;
        }
    }
}
